<header>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo">Logo</div>
        <div>Support to Training and Employment Programme for Women</div>
        <div></div>
    </div>
    <nav fxLayout="row" fxLayoutAlign="center center">
        <a routerLink="guidelines" routerLinkActive="active" ariaCurrentWhenActive="page">Guidelines</a>
        <a routerLink="training-sectors" routerLinkActive="active" ariaCurrentWhenActive="page">Training Sectors</a>
        <a routerLink="ngos" routerLinkActive="active" ariaCurrentWhenActive="page">NGOS</a>
        <a routerLink="registration" routerLinkActive="active" ariaCurrentWhenActive="page">Registration</a>
        <a routerLink="status" routerLinkActive="active" ariaCurrentWhenActive="page">Status</a>
        <a routerLink="faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a>
    </nav>
</header>
<router-outlet></router-outlet>
<div></div>

