<div class="route-content-wrapper">
    
    <step-dashboard-content-header>
        <div>Registration</div>
        <div>
            <nav>
                <a routerLink="trainee-personal-details" routerLinkActive="active" ariaCurrentWhenActive="page">Personal Details</a>
                <a routerLink="trainee-family-details" routerLinkActive="active" ariaCurrentWhenActive="page">Family Details</a>
                <a routerLink="trainee-address-details" routerLinkActive="active" ariaCurrentWhenActive="page">Address Details</a>
            </nav>
        </div>
    </step-dashboard-content-header>
    
    <div class="dashboard-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>