nav {
    display: flex;
}

nav a {
    padding: 5px 10px;
    flex: 1;
    text-decoration: none;
    color: rgb(54 110 178);
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 5px;
}

nav a svg {
    margin-right: 5px;
}

nav .active {
    background: rgb(54 110 178);
    color: white;
}

nav a:hover {
    /* background: rgb(54, 110, 178, 0.2); */
}

nav .active:hover {
    background: rgb(54 110 178);
    color: white;
}
