<div class="course-dialog">
    <h3 class="flex-row jc-sb ai-c">
        <span class="form-heading"> 
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M16.84,2.73C16.45,2.73 16.07,2.88 15.77,3.17L13.65,5.29L18.95,10.6L21.07,8.5C21.67,7.89 21.67,6.94 21.07,6.36L17.9,3.17C17.6,2.88 17.22,2.73 16.84,2.73M12.94,6L4.84,14.11L7.4,14.39L7.58,16.68L9.86,16.85L10.15,19.41L18.25,11.3M4.25,15.04L2.5,21.73L9.2,19.94L8.96,17.78L6.65,17.61L6.47,15.29" />
            </svg>
            <span>Edit Course Details</span>
        </span>
        <span class="close-dialog-icon" (click)="hideEditCourseDialog()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
        </span>
    </h3>
    <success-message *ngIf="successMessage">{{successMessage}}</success-message>
    <success-message *ngIf="errorMessage">{{errorMessage}}</success-message>
    <form [formGroup]="courseForm" (submit)="saveCourseDetails()">
        <input formControlName="CourseId" type="hidden" [value]="selectedCourseId" />
        <div class="form-row">
            <div class="form-col">
                <mat-form-field  appearance="fill">
                    <mat-label>Code</mat-label>
                    <input formControlName="Code" matInput >
                </mat-form-field>
                <div *ngIf="submitted && courseForm.controls['Code'].invalid" class="form-error">
                    <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                    </svg>
                    <span *ngIf="courseForm.controls['Code'].errors!['required']">Code required</span>
                </div>
            </div>
        </div>
        
    
        <div class="form-row">
            <div class="form-col">
                <mat-form-field  appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="Description" matInput ></textarea>
                </mat-form-field>
                <div *ngIf="submitted && courseForm.controls['Description'].invalid" class="form-error">
                    <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                    </svg>
                    <span *ngIf="courseForm.controls['Description'].errors!['required']">Description required</span>
                </div>
            </div>
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-flat-button color="" type="reset">Reset</button>
            <button mat-flat-button color="primary" type="submit">Update</button>
        </div>
    </form>
</div>

<div class="overlay"></div>