<div class="step-form" fxLayout="row" fxLayoutAlign="center center">
    <div>
        <form [formGroup]="adminRegister" (submit)="register()" class="step-login-form">
            <h1 fxLayout="row" fxLayoutAlign="center center">
                <svg style="width:24px;height:24px;margin-right:10px;" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
                </svg>
                <span>Admin Registration</span>
            </h1>
            <success-message *ngIf="registerSuccessMessage">{{registerSuccessMessage}}</success-message>
            <error-message *ngIf="registerErrorMessage">{{registerErrorMessage}}</error-message> 
            <div class="form-row">
                <div class="form-col">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input type="text" formControlName="Username" matInput>
                    </mat-form-field>
                    <div *ngIf="adminRegisterSubmitted && adminRegister.controls['Username'].invalid" class="form-error">
                        <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                        </svg>
                        <span *ngIf="adminRegister.controls['Username'].errors!['required']">Username required</span>
                        <span *ngIf="adminRegister.controls['Username'].errors!['pattern']">Username should contain alphabets and digits, mimium length 8</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <mat-form-field  appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="Password" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button mat-flat-button type="reset">Reset</button>
                <button mat-flat-button color="primary" type="submit" >Register</button>
            </div>
        </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="adminLogin" (submit)="login()" class="step-login-form">
            <h1 fxLayout="row" fxLayoutAlign="center center">
                <svg style="width:24px;height:24px;margin-right:10px;" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
                </svg>
                <span>Admin Login</span>
            </h1>
            <error-message *ngIf="loginErrorMessage">{{loginErrorMessage}}</error-message> 
            <div class="form-row">
                <div class="form-col">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input type="text" formControlName="Username" matInput>
                    </mat-form-field>

                    <div *ngIf="adminLoginSubmitted && adminLogin.controls['Username'].invalid" class="form-error">
                        <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                        </svg>
                        <span *ngIf="adminLogin.controls['Username'].errors!['required']">Username required</span>
                        <span *ngIf="adminLogin.controls['Username'].errors!['pattern']">Username should contain alphabets and digits, mimium length 8</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <mat-form-field  appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="Password" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button mat-flat-button type="reset">Reset</button>
                <button mat-flat-button color="primary" type="submit" >Login</button>
            </div>
        </form>
    </div>
</div>