<h3>Family Details</h3>
<form [formGroup]="familyDetails" (submit)="saveFamilyDetails()">

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Trainee Id</mat-label>
                <input formControlName="TraineeId" matInput >
            </mat-form-field>
        </div>
        <div class="form-col"></div>
    </div>
    
    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mother Name</mat-label>
                <input formControlName="MotherName" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mother Designation</mat-label>
                <input formControlName="MotherDesignation" matInput >
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Father Name</mat-label>
                <input formControlName="FatherName" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Father Designation</mat-label>
                <input formControlName="FatherDesignation" matInput >
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Husband Name</mat-label>
                <input formControlName="HusbandName" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Number of Children</mat-label>
                <input formControlName="NumberOfChildren" matInput >
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button color="" type="reset">Reset</button>
        <button mat-flat-button color="primary" type="submit">Save</button>
    </div>


</form>