<div class="application-dialog">
    <h1 class="flex-row jc-sb ai-c">
        <span class="form-heading"> 
            <span>Application</span>
        </span>
        <span class="close-dialog-icon" (click)="closeApplication()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
        </span>
    </h1>
    <div>
        <div class="section">
            <h3>Organization Details</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Chairman</th>
                            <th>Secretary</th>
                            <th>Pan</th>
                            <th>Website</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of application.ngoDetails">
                            <td>{{c.organisationName}}</td>
                            <td>{{c.chairmanName}}</td>
                            <td>{{c.secretaryName}}</td>
                            <td>{{c.pan}}</td>
                            <td>{{c.website}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section">
            <h3>Contact Details</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>State</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Pincode</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of application.ngoContactDetails; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{c.state}}</td>
                            <td>{{c.city}}</td>
                            <td>{{c.district}}</td>
                            <td>{{c.pin}}</td>
                            <td>{{c.contactNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>