header {
    background: linear-gradient(168deg, #5c0436, #821854);
    color: rgb(229, 229, 229);
    margin-bottom: 30px;
    height: 70px;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
}
.header-padding {
    height: 70px;
}
.nav-container {
    position: relative;
}

nav {
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    display: block;
    height: 40px;
}

.nav-container > div {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
}
.nav-container > div:first-child {
    color: rgb(247, 247, 247);
}

header > a:first-child,
header > div:last-child {
    width: 200px;
}

nav a {
    padding: 0px 15px;
    background: #3e084a;
    color: rgb(229, 229, 229);
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
nav a:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
nav a:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

nav .active {
    background: rgb(244, 244, 244);
    color: #821854;
}
.dashboard-link-btn {
    padding: 7px 15px;
    border-radius: 7px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-link-btn svg {
    margin-right: 5px;
}
.dashboard-links {
    background: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.dashboard-links div {
    display: flex;
    flex-direction: column;
}

.dashboard-links div a {
    color: #821854;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
}
.dashboard-links div a svg {
    margin-right: 5px;
}

.dashboard-links div a:hover {
    background:#f6cdff;
}

.main-overlay {
    position: absolute;
    width: 100%;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}