<header fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="center center">
        <a routerLink="" class="logo">Women Empowerment</a>
    </div>
    <div class="nav-container" fxLayout="column" fxLayoutAlign="center center">
        <div>Ministry of Women and Child Development</div>
        <nav fxLayout="row" fxLayoutAlign="center center">
            <a routerLink="about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About&nbsp;Us</a>
            <a routerLink="legislation-and-policy" routerLinkActive="active" ariaCurrentWhenActive="page">Legislation&nbsp;&&nbsp;Policy</a>
            <a routerLink="step" routerLinkActive="active" ariaCurrentWhenActive="page">STEP</a>
            <a routerLink="ngo" routerLinkActive="active" ariaCurrentWhenActive="page">NGO</a>
            <a routerLink="admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
            <a routerLink="faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a>
        </nav>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">

    </div>
</header>
<div class="header-padding"></div>
<router-outlet></router-outlet>
<home-footer></home-footer>


