<div class="route-content-wrapper">
    
    <step-dashboard-content-header>
        <div>Guidelines</div>
        <div></div>
    </step-dashboard-content-header>
    
    <div class="dashboard-content">
        <div>
            <!-- Content here... -->
            Step 1: Fetch from ishwar2393 remote to your remote
            Step 2: Fetch changes from your remote to local
            Step 3: Make changes in your local repo
            Step 4: Push those changes to your remote
            Step 5: Contribute to ishwar2303
        </div>
    </div>
    
</div>