<error-message *ngIf="errorMessage">{{errorMessage}}</error-message>

<success-message *ngIf="successMessage">{{successMessage}}</success-message>
<h3>Personal Details</h3>

<form [formGroup]="personalDetails" (submit)="savePersonalDetails()">

    <div class="form-row">
        <div class="form-col">
            <mat-form-field  appearance="fill">
                <mat-label>Trainee Id</mat-label>
                <input formControlName="TraineeId" matInput >
            </mat-form-field>
        </div>
        <div class="form-col"></div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field  appearance="fill">
                <mat-label>E-mail</mat-label>
                <input formControlName="EmailId" matInput >
            </mat-form-field>
            <div *ngIf="submitted && personalDetails.controls['EmailId'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['EmailId'].errors!['required']">E-mail required</span>
                <span *ngIf="personalDetails.controls['EmailId'].errors!['email']">Invalid E-mail</span>
            </div>
        </div>
        <div class="form-col">
            <mat-form-field  appearance="fill">
                <mat-label>Aadhaar</mat-label>
                <input maxlength="12" formControlName="Aadhaar" matInput >
            </mat-form-field>
            <div *ngIf="submitted && personalDetails.controls['Aadhaar'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['Aadhaar'].errors!['required']">Aadhaar required</span>
                <span *ngIf="personalDetails.controls['Aadhaar'].errors!['pattern']">Invalid Aadhaar Number, Contains 12 digits</span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field  appearance="fill">
                <mat-label>Pan</mat-label>
                <input formControlName="Pan" matInput >
            </mat-form-field>
            <div *ngIf="submitted && personalDetails.controls['Pan'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['Pan'].errors!['required']">PAN required</span>
                <span *ngIf="personalDetails.controls['Pan'].errors!['pattern']">Invalid PAN</span>
            </div>
        </div>
        <div class="form-col">
            <mat-form-field appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="MaritalStatus">
                  <mat-option *ngFor="let s of MaritalStatus" [value]="s">
                    {{s}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && personalDetails.controls['MaritalStatus'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['MaritalStatus'].errors!['required']">Marital status required</span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field  appearance="fill">
                <mat-label>Religion</mat-label>
                <input formControlName="Religion" matInput >
            </mat-form-field>
            <div *ngIf="submitted && personalDetails.controls['Religion'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['Religion'].errors!['required']">Religion required</span>
                <span *ngIf="personalDetails.controls['Religion'].errors!['pattern']">Invalid Religion</span>
            </div>
        </div>
        <div class="form-col">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="Category">
                <mat-option *ngFor="let c of category" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && personalDetails.controls['Category'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['Category'].errors!['required']">Category required</span>
            </div>
        </div>
    </div>

    <div class="form-row" >
        <div class="form-col">
            <section class="example-section">
                <mat-checkbox class="example-margin" [checked]="true" formControlName="PersonWithDisability" #pwd>Person with Disability</mat-checkbox>
            </section>
        </div>
        <div class="form-col">
            <mat-form-field *ngIf="pwd.checked" appearance="fill">
              <mat-label>Type of Disability</mat-label>
              <mat-select formControlName="DisabilityType">
                <mat-option *ngFor="let d of disabilities" [value]="d">
                  {{d}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && pwd.checked && personalDetails.controls['DisabilityType'].invalid" class="form-error">
                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 3H14V14H10V3M10 21V17H14V21H10Z" />
                </svg>
                <span *ngIf="personalDetails.controls['DisabilityType'].errors!['required']">Disability type required</span>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button color="" type="reset">Reset</button>
        <button mat-flat-button color="primary" type="submit" >Save</button>
    </div>


</form>