<h3>Personal Details</h3>
<form [formGroup]="personalDetails" (submit)="savePersonalDetails()">
    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input formControlName="Email" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Aadhaar</mat-label>
                <input formControlName="Aadhaar" matInput >
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pan</mat-label>
                <input formControlName="Pan" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="MaritalStatus">
                  <mat-option *ngFor="let s of MaritalStatus" [value]="s">
                    {{s}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Religion</mat-label>
                <input formControlName="Religion" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="Category">
                <mat-option *ngFor="let c of category" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="Pwd"  #pwd>Person with Disability</mat-checkbox>
              </section>
        </div>
        <div class="form-col">
            <mat-form-field *ngIf="pwd.checked" appearance="fill">
              <mat-label>Type of Disability</mat-label>
              <mat-select formControlName="DisabilityType">
                <mat-option *ngFor="let d of disabilities" [value]="d">
                  {{d}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button color="" type="reset">Reset</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="personalDetails.invalid">Save</button>
    </div>


</form>