<div class="programme">
    <h1 class="name">Sukanya Samridhi Yojna</h1>
    <h3 class="objective">Objective</h3>
    <p>Build a fund for future education and marriage expenses.</p>
    <h3 class="eligibility">Eligibility</h3>
    <div>
        <div class="row">
            <div>Nationality</div>
            <div>Indian</div>
        </div>
        <div class="row">
            <div>Entry age</div>
            <div>From birth</div>
        </div>
        <div class="row">
            <div>Maximum entry age</div>
            <div>10 years</div>
        </div>
        <div class="row">
            <div>Minimum limit for deposits per year INR</div>
            <div>1000</div>
        </div>
        <div class="row">
            <div>Maximum limit for deposit per year INR</div>
            <div>1.5 lakh</div>
        </div>
        <div class="row">
            <div>Withdrawal age</div>
            <div>18 years</div>
        </div>
    </div>
    <p>
        Note: No interest shall be payable from the date of residency change and account will be closed prematurely.
    </p>
</div>

<div class="programme">
    <h1 class="name">The Support to Training and Employment Programme for Women (STEP)</h1>
    <h3 class="objective">Objective</h3>
    <p>Build a fund for future education and marriage expenses.</p>
    <h3 class="eligibility">Eligibility</h3>
    <p>Women of age group 16 years and above.</p>
    <p>Provide employablility skills in various sectors.</p>
    <p>Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc.
    </p>
    <p>Handicrafts, Computer & IT enable services along with soft skills and skills for the workplace such as spoken English, Gems &Jewellery etc
    </p>
</div>