<div class="route-content-wrapper">
    
    <step-dashboard-content-header>
        <div>Training Sectors</div>
        <div></div>
    </step-dashboard-content-header>
    
    <div class="dashboard-content">
        <div>
            <div class="course-card-row" *ngFor="let course of courses">
                <div class="course-card">
                    <h3>{{course[0].code}}</h3>
                    <p>{{course[0].description}}</p>
                </div>
                <div class="course-card" *ngIf="course[1].code">
                    <h3>{{course[1].code}}</h3>
                    <p>{{course[1].description}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>