<h3>Address Details</h3>
<form [formGroup]="addressDetails" (submit)="saveAddressDetails()">
    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State</mat-label>
                <input formControlName="State" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input formControlName="City" matInput >
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>District</mat-label>
                <input formControlName="District" matInput >
            </mat-form-field>
        </div>
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pincode</mat-label>
                <input formControlName="Pincode" matInput >
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea formControlName="Address" matInput ></textarea>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button color="" type="reset">Reset</button>
        <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
</form>