/* Global CSS */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

body {
    background: rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
    text-align: justify;
    font-size: 16px;
}

.form-row {
    display: flex;
}
.form-row .form-col {
    margin-right: 20px;
}
.form-row .form-col:last-child {
    margin-right: 0;
}
.form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 71px; */
}
.form-col .mat-form-field {
    flex: 1;
}
.form-col input {
    width: 100%;
    box-sizing: border-box;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}


.logo {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(246, 246, 246);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.dashboard-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    height: 30px;
}

.dashboard-content-header > div:first-child {
    font-size: 16px;
}

.dashboard-content {
    padding: 10px 20px;
    overflow: auto;
    flex:1;
}

.dashboard-content > div {
    height: 1px;
}

.route-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.route-content-wrapper > div:last-child {
    flex: 1;
}

.logged-in-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    margin-right: 20px;
}
.logged-in-user:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.logged-in-user > svg {
    margin-left: 10px;
}

.toggle-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-logo-container button {
    margin-left: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}


.mat-form-field-appearance-fill .mat-form-field-flex {
    /* background: white; */
}

.mat-form-field-appearance-fill .mat-form-field-label {
    font-size: 16px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 0 0 0;
}
.mat-form-field {
    padding: 0;
}
input.mat-input-element {
    font: normal;
    font-size: 16px;
}
.mat-form-field-wrapper .mat-form-field-flex {
    padding: 0;
}

textarea {
    min-height: 100px;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(54 110 178);
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: rgb(54 110 178);
}

.form-error {
    color: red;
    display: flex;
    align-items: center;
    margin-top: -15px;
    font-size: 13px;
}

.form-error svg {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}