<div class="delete-course-confirmation-dialog">
    <h3 class="flex-row jc-sb ai-c heading">
        <span>Course Deletion Confirmation</span>
        <svg style="width:30px;height:30px" class="mr-10" viewBox="0 0 24 24">
            <path fill="currentColor" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
        </svg>
    </h3>
    <div class="confirmation">
        <label for="">
            <mat-checkbox #checkbox>
                <span>Course will be permanently deleted.</span>
            </mat-checkbox>

        </label>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button color="" (click)="hideDeleteDialog()">Cancel</button>
        <button mat-flat-button color="warn" [disabled]="!checkbox.checked" (click)="deleteCourse()">Delete</button>
    </div>
</div>

<div class="overlay"></div>